/* classes*/

.icons{
	top:10%;
	left: 10%;
	position: relative;
	height: 15%;
	width: 15%;
}

.heading{
	top:10%;
	left: 20%; 
	position: relative;
	height: 50%;
	width: 50%;
	font-size: 75px;
}

.navbtn a{
	margin: 0px;
	padding: 0px 20px;
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
}
.navbtn a:hover{
	background-color: grey;
}

.navbtn a.active{
	background-color: grey;	
}

.login{
	margin: 10px;
}

/*tags*/

article{
	background-color: #ffaa00;
	padding: 20px;
	opacity: 0.75;
	font-size: 25px;
	display: table;
}
nav{
	background-color: black;
	color: white;
}
header{
	display: flex;
}
aside{
	background-color: #ffbb33;
	width: 300px;
	height: 500px;
}
article img{
	float: right;
	width: 400px;
}

footer{
	background-color: black;
	color: white;
}

body{
	display: block;
}