/* classes*/

.icons{
	position: relative;
	height: 5%;
	width: 5%;
}

.heading{
	margin-left: 10px;
}

.navbtn a{
	margin: 0px;
	padding: 0px 20px;
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
}
.navbtn a:hover{
	background-color: grey;
}

.navbtn a.active{
	background-color: grey;	
}

.login{
	margin: 10px;
}

.foot{
	bottom: 0px;
	position: sticky;
	width: 100%;
}

.twitterlog{
	width: 300px;
	height: 650px;
	position: sticky;
	top:30px;
	z-index: -1;
	float: right;
}

.sticky{
	position: sticky;
	top: 30px;
	float: left;
	width: 300px;
	height: 600px;
	background-color: #ffaa00
}

.sns{
	max-width: 30px;
}

/*tags*/

article{
	background-color: #ffaa00;
	padding: 30px;
	opacity: 0.75;
	font-size: 25px;
	display: table;
}
nav{
	background-color: black;
	color: white;
	width: 100%;
	float: right;
	height: 27px;
}
header{
	display: flex;
	position: sticky;
	top:0px;
	z-index: 1;
}
aside{
	background-color: #ffbb33;
	width: 300px;
	height: 600px;
	position: sticky;
	top:30px;
	z-index: -1;
}
article img{
	float: right;
	width: 400px;

}

footer{
	background-color: black;
	color: white;
	
	padding-bottom:0px;
}

body{
	display: block;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

hr{
	margin: 0;
}